@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    display: flex;
    justify-content: center;
    margin: 7em;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background-color: #F5EFE6;
    /*background-color: #aac293;*/
}

h1 {
    font-size: 45px;
    color: #7895B2;
}

button {
    margin: 1em;
    width: 180px;
    height: 40px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    border-radius: 15px;
    color: #7895B2;
    border-color: #7895B2;
    border-style: solid;
}

.buttons {
    margin-top: 1em;
}

#spanNumber {
    font-size: 150px;
    line-height: normal;
    color: #7895B2;
}

@media(max-width: 360px) {
    buttons {
        flex-direction: column;
    }
}